<main class="mt-5">
    <% messages.forEach(message => { %>
        <div class="flex justify-center items-center border-b-2 ">
        <div class="py-8 px-5 flex flex-col items-center gap-2">
            <h2><%= message.title%></h2>
            <p><%= message.body %></p>
            <p><%= new Date(message.created_at).toLocaleString() %></p>

            <% if (user) { %>
                <p>
                    Posted by: <%= message.user.first_name %> <%= message.user.last_name %>
                </p>

                <% if (user.id === message.user.id) { %>
                    <form action="/messages/<%= message.id %>?_method=DELETE" method="POST">
                        <button type="submit" class="text-red-500 hover:underline text-sm">
                            Delete
                        </button>
                    </form>
                <% } %>
            <% } else { %>
                <p>Posted anonymously</p>
            <% } %>
        </div>
        </div>
    <% }) %>
</main>
