<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet" href="/vendor/toastify/toastify.css" />
    <title><%= title %></title>
</head>
<body class="">
    <%- include('partials/nav') %>

    <% if (user) { %>
      <%- include('partials/newMessage') %>
    <% } %>
    
    <div class="container mx-auto min-h-screen">
      <%- include('partials/messages', { messages, user }) %>
    </div>
    



    <script src="/vendor/toastify/toastify.js"></script>    

    <!-- Toast Message Logic - the red squiggles work, NOT broken -->
    <script>
      <% if (success_msg) { %>
        Toastify({
          text: "<%= success_msg %>",
          duration: 2000,
          gravity: "top",
          position: "right",
          backgroundColor: "#4ade80",
        }).showToast();
      <% } else { %>
        Toastify({
          text: "<%= error_msg %>",
          duration: 2000,
          gravity: "top",
          position: "right",
          backgroundColor: "#f87171",
        }).showToast();
        <% } %>
    </script>

    <script>
      function toggleMenu(id) {
        const menu = document.getElementById(`menu-${id}`);
        menu.classList.toggle('hidden');
      }
    </script>
</body>
</html>